---
layout: layouts/base.njk
---

<main>
  <header class="pb-12">
    <h1>
      <a href="/" class="text-inherit no-underline">{{ title }}</a>
    </h1>
    <p class="subtitle">
      {{subtitle}}
    </p>
  </header>
  {{ content | safe }}
</main>