---
layout: layouts/base.njk
---

<main>
  <article>
    <header class="pb-12">
      <h1 class="pb-6">
        <a href="/" class="text-inherit no-underline">{{ title }}</a>
      </h1>
      <h3>
        <time>{{ date | date('yyyy-MM-dd') }}</time>
      </h3>
      <p>By {{ author }}</p>
    </header>
    {{ content | safe }}
  </article>
</main>