---
layout: layouts/base.njk
---

<main>
  <article>
    <header class="mb-12">
      <h1 class="">
        <a href="/" class="text-inherit no-underline">{{ title }}</a>
      </h1>
      <p class="subtitle">
        <time>{{ date | date('HUMAN_DATE') }}</time>
      </p>
    </header>
    {{ content | safe }}
  </article>
</main>