<!-- Meta -->
<meta name="title" content="{{title}}"/>
<meta name="description" content="{{description}}"/>
<meta name="keywords" content="{{tags}}"/>
<meta name="copyright" content="{{author.name}}<{{author.email}}>"/>
<meta
name="author" content="{{author.name}}<{{author.email}}>"/> <!-- Open Graph -->
<meta property="og:type" content="website"/>
<meta property="og:title" content="{{title}}"/>
<meta property="og:site_name" content="{{site.name}}"/>
<meta property="og:url" content="{{url}}"/>
<meta property="og:description" content="{{description}}"/>
<meta property="og:locale" content="{{site.x.locale}}"/>