---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="404" description="Page not found">
  <section>
    <p>This page doesn't exist. <a href="/">Go home.</a></p>
  </section>
</PageLayout>
